* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
  }

  body {
    background-color: rgb(99, 0, 0);
  }

  center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    
  }

  button {
    color: #121212; /* Dark background like space */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }